body {
  background-color: var(--bg-color);
  color: var(--secondary-color);

  font-family: var(--font-family-main);
  font-size: var(--font-size);
  line-height: var(--font-line);
  font-weight: var(--font-weight);
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 800px;
}
