.root {
  height: 100%;
  min-width: 100px;
  padding: 5px;

  flex: 1;
  display: flex;
  align-items: center;

  color: var(--white-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
}