.button {
  width: 25px;
  height: 25px;
  padding: 0;

  font-size: 13px;

  background-color: var(--white-color);
  border-radius: 4px;

  cursor: pointer;
}

.open {
  color: var(--secondary-color);
  border: 1px solid var(--succes);
}

.close {
  color: var(--secondary-color);
  border: 1px solid var(--error);
}