.container {
  position: relative;
}

.wrapper {
  flex-grow: 1;
  display: flex;
}

.aside {
  width: var(--table-aside);
  padding-left: 3px;
}

.line {
  width: 5px;
  height: calc(100% - 2px);

  background-color: var(--black-color);

  position: absolute;
  left: 0;
  top: 2px;
  z-index: var(--z-index-hide);
}