.root {
  display: flex;
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
}

.aside {
  width: var(--table-aside);
  background-color: var(--white-color);
  border-bottom: 1px solid var(--secondary-color);
}